<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realtime Communication</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  
  <form action="login" method="post">
    <input type="text" id="name" placeholder="your name">
    <input type="password" id="pwd" placeholder="your password">
    <button  type="button" id="submit">load</button>
  </form>
  <h1 id="message"></h1>
  <script src="static/js/index.js"></script>

  </body>
</html>